@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

svg {
	display: inline-block;
}

input:focus {
	outline: 0 none;
}

input:not([type="radio"]),
input:not([type="checkbox"]) {
	border: 1px solid #6A6A6A;
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.45);
}

/* Home Page */
.home-page {
	background-image: url("../img/stars.png");
	background-repeat: no-repeat;
	background-size: cover;
}

/* Inner Page */
.inner-page {
	background: #161718;
}

.inner-page .footer-container {
	background: #161718;
}

/* Custom */
model-viewer {
	display: flex;
	align-items: center;
	height: 80vh;
	width: 100%;
	overflow: hidden;
	position: absolute;
	user-select: none;
	z-index: 10;
	transition: 1s;
}

.animate-continent model-viewer {
	bottom: 0;
}

.hotspot:not(.hotspot-brand) {
	background: url('../img/continent.png');
	background-size: cover;
	border-radius: 32px;
	cursor: pointer;
	height: 64px;
	padding: 8px;
	position: relative;
	transition: opacity 0.3s ease 0s;
	width: 64px;
}

.hotspot-annotation {
	opacity: 0;
	text-align: left;
	width: 260px;
	height: 123px;
	background: rgba(0, 0, 0, 0.65);
	border-radius: 8px;
	display: block;
	left: calc(100% + 1em);
	position: absolute;
	padding: 0.5em 1em;
	top: 0;
	transform: scale(0);
	transition: opacity .5s;
}

.hotspot:hover .hotspot-annotation {
	opacity: 1;
	transform: scale(1);
}

.hotspot-annotation:before {
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	width: 15px;
	height: 100%;
}

.hotspot:not([data-visible]) {
	opacity: 0;
}

.hotspot:not([data-visible]) > * {
	opacity: 0;
	pointer-events: none;
	transform: translateY(calc(-50% + 4px));
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}


/* React Select */
.react-select__control .react-select__input {
	border: 0;
	box-shadow: none;
}

.react-select__control .react-select__input-container {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

.react-select__control .react-select__indicator-separator {
	display: none;
}

/* Swiper */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	display: none !important;
}

.bg-stars {
	background-image: url("assets/images/background/stars.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.text-gradient {
	background: linear-gradient(to right, #D299FF 30%, #58C3FF 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

body {
	background: #161718;
}

.border-sq-gradient {
	border: 1px solid;
	border-image: linear-gradient(45deg, #D299FF, #58C3FF) 1;
}

.swiper-wrapper {
	align-items: center;
}

.swiper-autoheight .swiper-slide {
	height: 100% !important;
}

.Toastify__toast {
	background: #262728 !important;
	position: relative !important;
	border: solid 5px transparent;
	overflow: visible !important;
	opacity: 1 !important;
	padding-right: 0 !important;
	border-radius: 5px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.Toastify__toast-body {
	padding-right: 0 !important;
	padding-top: 0 !important;
	font-size: 12px !important;
	padding-bottom: 0 !important;
}

.Toastify__toast:before {
	content: '';
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: 0;
	left: -1px;
	padding: 33px;
	z-index: -1;
	margin: -5px;
	border-radius: 5px;
	background: linear-gradient(45deg, #D299FF, #58C3FF);
}

.Toastify--animate.Toastify__toast:before {
	display: none !important;
}

.Toastify__progress-bar {
	background: #3F99FF !important;
	bottom: -5px !important;
	left: -5px !important;
	border-bottom-left-radius: 8px !important;
}

.Toastify__close-button {
	display: none;
}